nav{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(68, 22, 255);
    border: solid red 1px;
    border-radius: 13px;
    flex-basis: 600px;
    height: 165px;
    justify-content: space-evenly;
}

h4{
    width: 140px;
    height: 100px;
    background-color: orange;
    color: white;
    border-radius: 13px;
    font-size: x-large;
}

h4:hover{
    cursor: pointer;
    font-size: xx-large;
    width: 176px;
    height: 115px;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
}